@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap');

* {
    font-family: 
}

.connect-container {
    display: flex; 
    background-color: pink;
}

h1, h2, h3 {
    font-family: Montserrat;
}

p {
    font-family: "PT Serif";
    font-style: italic;
}

.projects-container {
    display: flex;
}